<%= form_with(model: item) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :condition %>
    <%= form.select :condition, [['Sealed','new'],['Complete in Box','cib'],['Loose with Manual','loose+'],['Loose','loose']] %>
  </div>

  <div class="field">
    <%= form.label :rating %>
    <%= form.select :rating, [['5','five'],['4','four'],['3','three'],['2','two'],['1','one']] %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_area :notes %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
